img {
    /* width: 75%; */
    height: 65%;
}

.turn > div {
    height: 400px
}

.turn {
    padding-top: 20px;
    padding-bottom: 20px;
}

.answers {
    text-align: center;
    margin-bottom: 2.0em;
    background-color: cornflowerblue;
    border-radius: 4px;
    padding: 1.4%;
}

.answers:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}